*:after, *:before, * {
    box-sizing: border-box;
}

body {
 
}

header {
    & > nav {
        
    }
}

.hero-image {
    background-image: url("assets/bg_5.png");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}